body, html {
    color: #545454;
    color: rgba(0,0,0,.67);
    font-size: 16px;
    line-height: 1.4;
    font-family: Whitney,helvetica,arial,sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

.pull-right{
    float: right;
}

.main-content{
    width:542px;
    height: 600px;
    margin:0 auto;
    padding: 18px 18px 0;
    border-radius: 3px;
    background-color: #fff;
    margin-bottom: 18px;
    border: 1px solid #ddd;
}

.simple-navi-panel .button {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    font-size: 16px;
    margin: 5px;
}

.simple-navi-panel .red-button{
    -webkit-box-shadow: #851518 0 2px 0 0;
    box-shadow: #851518 0 2px 0 0;
    color: #fff;
    background: #e0393e;
    padding: 7px 18px 5px;
    display: inline-block;
    border-radius: 3px;
    margin-bottom: 18px;
    font-family: Whitney,helvetica,arial,sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.simple-navi-panel .red-button:hover{
    background: #d02126;
}

.simple-navi-panel .gray-button{
    -webkit-box-shadow: rgba(0,0,0,.47) 0 2px 0 0;
    box-shadow: rgba(0,0,0,.47) 0 2px 0 0;
    color: rgba(0,0,0,.67);
    background: rgba(0,0,0,.1);
    display: inline-block;
    border-radius: 3px;
    padding: 7px 18px 5px;
    margin-bottom: 18px;
    font-family: Whitney,helvetica,arial,sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.simple-navi-panel .gray-button:hover{
    background: rgba(0,0,0,.16);
}

.simple-navi-panel a{
    text-decoration: none;
    cursor: pointer;
}

.random-users h2{
    font-size: 28px;
    color: #0d0d0d;
    color: rgba(0,0,0,.95);
    font-family: Whitney,helvetica,arial,sans-serif;
    margin: 0;
    padding: 0 0 9px;
    line-height: 1.1;
    font-weight: 700;
}

.divider{
    border-bottom: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
}

.random-users table, .random-users th, .random-users td {
    border: 1px solid #fff;
    border-collapse: collapse;
}

.random-users table .even{
    background-color: #f7f7f7;
}

.random-users table{
    margin-top: 20px;
}

.random-users tr{
    background: #eee;
}
.random-users th, .random-users td {
    padding: 10px 10px 10px 20px;
}

.random-users table tr:first-of-type{

}