<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Maszyna losująca</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../css/insstyle.css" th:href="@{/css/insstyle.css}" rel="stylesheet"/>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" th:href="@{http://getbootstrap.com/dist/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" th:href="@{http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css}" rel="stylesheet"/>
    <script src="../../jquery-1.11.1.min.js" th:href="@{/jquery-1.11.1.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js}"></script>
    <script src="../../application.js" th:href="@{/application.js}"></script>

    <!-- Latest compiled and minified JavaScript -->

</head>
<body>

<div class="main-content">
    <div class="row">
        <form action="/draw" name="prizeForm" id="prizeForm" >
            <fieldset>
                <div id="app_key_div" class="col-xs-12">
                    <input type="text" name="app_key" value="" class="form-control" id="app_key" placeholder="App key" required="true" />
                </div>

                <div class="col-xs-12">
                    <input id="btn_login" value="OK" style="margin: 0px;" class="red-button add-prize-button button" type="submit" />
                </div>
            </fieldset>
        </form>
    </div>
</div>

</body>
<script>

    //$("#event_id").val("201836452");
    $("#app_key").val("781d47243d1f565a64a4e7b354e6358"); //TODO remove app_key
    var firstSubmit = true;
    $("#prizeForm").submit(function(){
        if(firstSubmit)
        {
            var appKey = $("#app_key").val();
            localStorage.setItem("appKey", appKey);
            changeLoginForm();
            getEventsList(processEventsList, $("#app_key").val());

            firstSubmit = false;
            return false;
        }
        else
        {
            var eventId = $("#event_ids_list").val();
            localStorage.setItem("eventId", eventId);
            return true;
        }
    });
</script>
</html>
