<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Hello Spring Boot!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../static/insstyle.css" rel="stylesheet">
    <script src="../../static/jquery-1.11.1.min.js"></script>
</head>
<body>

<div th:text="test">

</div>

<div class="main-content">
    <div class="simple-navi-panel">
        <a class="button red-button" href="">Losuj</a>
        <a class="button gray-button pull-right" href="">Lista nagród</a>
        <a class="button gray-button pull-right" href="">Pobierz uczestników</a>
    </div>
    <div class="divider">
    </div>
    <div class="random-users">
        <h2 id="randomUsersHeader">Wylosowano:</h2>
        <table style="width:100%">
            <tr>
                <td>Varcettin</td>
                <td>iPad</td>
            </tr>
            <tr class="even">
                <td>blackbat</td>
                <td>iPhone</td>
            </tr>
            <tr>
                <td>John</td>
                <td>Symfonia C++</td>
            </tr>
            <tr class="even">
                <td>blackbat</td>
                <td>iPhone</td>
            </tr>
            <tr>
                <td>Varcettin</td>
                <td>iPad</td>
            </tr>
            <tr class="even">
                <td>blackbat</td>
                <td>iPhone</td>
            </tr>
            <tr>
                <td>John</td>
                <td>Symfonia C++</td>
            </tr>
        </table>
    </div>
</div>


<script>
    var eventId = localStorage.getItem("eventId");
    var appKey = localStorage.getItem("appKey");
    var participants = new Array();

    function processParticipants(participantsJson)
    {
        participantsJson.participants.forEach(function(participantJson){
            var participant = Object.create(null);
            participant.memberId = participantJson.memberId;
            participant.name = participantJson.name;
            participants.push(participant);
        });
    }

    function addParticipantsToView(htmlElement)
    {
        for(var i = 0; i < participants.length; ++i)
        {
            var name = participants[i].name;
            htmlElement.append(); //TODO Add content
        }
    }
</script>

</body>
</html>
