<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Hello Spring Boot!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../static/insstyle.css" rel="stylesheet">
</head>
<body>
<div th:text="test">

</div>

<div class="simple-navi-panel">
    <a id="button" class="red-button" href="">Losuj</a>
    <a id="button" class="gray-button" href="">Lista nagród</a>
    <a id="button" class="gray-button" href="">Pobierz uczestników</a>
</div>

</body>
</html>
