body, html {
    color: #545454;
    color: rgba(0,0,0,.67);
    font-size: 16px;
    line-height: 1.4;
    font-family: Whitney,helvetica,arial,sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background: #f4f4f4 !important;
}

.pull-right{
    float: right;
}

a{
    text-decoration: none !important;
    cursor: pointer !important;
}

.main-content{
    width:542px;
    margin-left: auto;
    margin-top: 30px;
    margin-right: auto;
    padding: 18px 18px 60px 18px;
    border-radius: 3px;
    background-color: #fff;
    margin-bottom: 18px;
    border: 1px solid #ddd;
}

.simple-navi-panel .button, .button{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    font-size: 16px;
    margin: 5px;
}

.simple-navi-panel .red-button{
    -webkit-box-shadow: #851518 0 2px 0 0;
    box-shadow: #851518 0 2px 0 0;
    color: #fff;
    background: #e0393e;
    padding: 7px 18px 5px;
    display: inline-block;
    border-radius: 3px;
    margin-bottom: 18px;
    font-family: Whitney,helvetica,arial,sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.red-button{
    -webkit-box-shadow: #851518 0 2px 0 0;
    box-shadow: #851518 0 2px 0 0;
    color: #fff;
    background: #e0393e;
    padding: 7px 18px 5px;
    display: inline-block;
    border-radius: 3px;
    margin-bottom: 18px;
    font-family: Whitney,helvetica,arial,sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.red-button:hover{
    background: #d02126;
    color: #fff;
}

.simple-navi-panel .red-button:hover{
    background: #d02126;
}

.simple-navi-panel .gray-button{
    -webkit-box-shadow: rgba(0,0,0,.47) 0 2px 0 0;
    box-shadow: rgba(0,0,0,.47) 0 2px 0 0;
    color: rgba(0,0,0,.67);
    background: rgba(0,0,0,.1);
    display: inline-block;
    border-radius: 3px;
    padding: 7px 18px 5px;
    margin-bottom: 18px;
    font-family: Whitney,helvetica,arial,sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.gray-button{
    -webkit-box-shadow: rgba(0,0,0,.47) 0 2px 0 0;
    box-shadow: rgba(0,0,0,.47) 0 2px 0 0;
    color: rgba(0,0,0,.67);
    background: rgba(0,0,0,.1);
    display: inline-block;
    border-radius: 3px;
    padding: 7px 18px 5px;
    margin-bottom: 18px;
    font-family: Whitney,helvetica,arial,sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.orange-button{
    box-shadow: #A16530 0px 2px 0px 0px;
    color: rgba(255,255,255,0.9) !important;
    background: #F99232;
    display: inline-block;
    border-radius: 3px;
    padding: 7px 18px 5px;
    margin-bottom: 18px;
    font-family: Whitney,helvetica,arial,sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
}

.orange-button:hover{
    background: #E08638 !important;
}

.simple-navi-panel .gray-button:hover{
    background: rgba(0,0,0,.16);
}

.gray-button:hover{
    background: rgba(0,0,0,.16);
    color: rgba(0,0,0,.67) !important;
}

.simple-navi-panel a{
    text-decoration: none;
    cursor: pointer;
}

.random-users h2{
    font-size: 28px;
    color: #0d0d0d;
    color: rgba(0,0,0,.95);
    font-family: Whitney,helvetica,arial,sans-serif;
    margin: 0;
    padding: 0 0 9px;
    line-height: 1.1;
    font-weight: 700;
}

.divider{
    border-bottom: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
}

.random-users table, .random-users th, .random-users td {
    border: 1px solid #fff;
    border-collapse: collapse;
}

.random-users table .even{
    background-color: #f9f9f9;
}

.random-users table{
    margin-top: 20px;
}

.random-users tr{
    background: #f5f5f5;
}
.random-users th, .random-users td {
    padding: 10px 10px 10px 20px;
}

.random-users table tr:first-of-type{
    -moz-border-top-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-top-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
}
.random-users table th{
    text-align: left;
    background: #fff;
    border-top: 5px solid #F99232;
    border-bottom: 1px solid #ccc;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #fbfbfb;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

#fadeandscale {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    min-width: 300px;
}

#fadeandscale2 {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    min-width: 300px;
}

#fadeandscale .fa{
    line-height: 1.2 !important;
}

.popup_visible #fadeandscale {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.popup_visible #fadeandscale2 {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.user-list li{
    border-bottom: 1px solid #eee;
    padding-bottom: 8px;
    padding-left: 20px;
    margin-top: 15px;
}

.prize-list li{
    line-height: 4;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px dashed #eee;
}

.prize-list li .fa{
    padding: 5px;
}

#prizeListModal ul{
    list-style: none;
}

#prizeListModal .prize-amount{
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

#prizeListModal .counter{
    max-height: 50px;
}

#inputPrizeName{
    margin-top: 5px;
}

.add-prize-button{
    width: 100%;
    text-align: center;
}

#winnerModal .winner-name{
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    display: block;
}

#winnerModal .prize-name{
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    display: block;
}

#event_id{
    margin-bottom: 10px;
    margin-top: 10px;
}

.list-group-item.active{
    background-color: #505050 !important;
    border-color: #444444 !important;
}